h1 {
  text-align: center;
}

.navbar-nav {
  flex-direction: row; /* Ensure navigation links are in a row */
}

.navbar-nav .form-inline {
  margin-left: 60px; /* Adjust spacing between navigation links and search bar */
}

.navbar-nav .nav-item {
  margin-left: 10px; /* Adjust spacing between navigation links */
}


/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  max-width: 1200px; /* Adjust as needed */
}

.main {
  padding: 20px;
}

.heading {
  margin-bottom: 20px;
}

/* Navbar Styles */
.navbar-brand img {
  margin-right: 10px;
  height: 70px;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}
.navbar{
  padding: 20px;
}

.navbar-nav form {
  margin-right: 10px;
}

/* Map and Legend Layout */
.row {
  margin-bottom: 20px;
}

.col-md-2 {
  display: flex;
  flex-direction: column;
}

/* Legend Styles */
.legend {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.legend-item {
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}

/* Map Styles */
#map {
  height: 100px; /* Adjust the height as needed */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center horizontally */
  margin-right: 70px;
}

.information-filters {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; /* Aligns the content to the center */
}

.information-filters button {
  margin: 0 5px; /* Adjust margins as needed */
}
.comment-block{
  

}
.name p{
  border: 30px 30px 30px 30px;
  border-color: blue;
}
